body {
  background: #2b2929;
}

.envolve-span-task {
  display: flex;
  flex-direction: column;
}

.span-quantidade-task {
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0px;
  margin-top: 1em;
}

li {
  height: 30px;
}

.col-lg-8 {
  background: #2d2c2c;
  padding: 15px;
}

.container-lista {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

input.form-control:focus {
  background: #2d2c2c;
  border: 0;
  border-style: none;
  color: #ffffff;
}

.form-check {
  color: #c2c2c2;
}

.form-control {
  background-color: #2d2c2c;
  border: 1px solid #c2c2c2;
  height: 100%;
  color: #ffffff;
}

.form-check-input:disabled~.form-check-label {
  text-decoration: line-through;
}

.input-group-text {
  background-color: #2d2c2c;
  border: 1px solid #c2c2c2;
  height: 32px;
  padding: 10px;
}

h2 {
  color: #c4c4c4;
  text-align: center;
}

#tasks-pendentes {
  font-size: 15px;
  color: #067b95;
}

.btn {
  height: 32px;
}

.acoes {
  float: right;
}

.fas {
  color: white;
  margin: 5px;
}